In [16]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_excel('pessoas.xlsx')
df.head(5)

          Nome Sexo  Idade  Altura  Peso
0    Ana Silva    F     25    1.65    58
1  Bruno Costa    M     30    1.75    72
2  Carla Souza    F     28    1.70    60
3  Daniel Lima    M     35    1.80    80
4  Eva Martins    F     22    1.60    55

In [18]:
np.random.seed(0)
df['id'] = np.random.choice(range(1001, 10000), size=len(df), replace=False)
df['id']

0     5425
1     2727
2     8895
3     8804
4     2987
5     4019
6     2468
7     8968
8     1155
9     3316
10    6743
11    1326
12    8662
13    9393
14    6496
15    9162
16    5596
17    3585
18    9180
19    4565
20    5368
21    8962
22    3981
23    9533
24    5065
25    1522
26    1135
27    5056
28    8760
29    5758
30    1344
31    7702
32    4465
33    1122
34    8159
35    8698
36    2052
37    8676
38    3477
39    1844
40    8801
41    3340
42    9466
43    3082
44    4515
45    3708
46    5577
47    8727
48    6515
49    9725
50    4404
51    4008
Name: id, dtype: int32

In [9]:
nomes = df['Nome'].values
nomes

array(['Ana Silva', 'Bruno Costa', 'Carla Souza', 'Daniel Lima',
       'Eva Martins', 'Filipe Reis', 'Giovana Melo', 'Hugo Almeida',
       'Isabela Freitas', 'João Pedro', 'Karla Pires', 'Lucas Andrade',
       'Mariana Rocha', 'Nando Oliveira', 'Olivia Santos',
       'Pedro Almeida', 'Queila Ramos', 'Rafael Costa', 'Sabrina Lima',
       'Thiago Silva', 'Úrsula Freitas', 'Vítor Pereira', 'Wendy Martins',
       'Xavier Souza', 'Yasmin Carvalho', 'Zé Ferreira', 'Amanda Duarte',
       'Bruno Martins', 'Clara Rocha', 'Diego Almeida', 'Eliane Costa',
       'Fabio Silva', 'Gabriela Lima', 'Henrique Souza', 'Ingrid Costa',
       'João Batista', 'Karine Silva', 'Luis Fernandes', 'Mariana Santos',
       'Natália Freitas', 'Oscar Lima', 'Paula Martins', 'Quirino Alves',
       'Rita Pires', 'Samuel Costa', 'Tatiane Lima', 'Ubiratan Silva',
       'Vanessa Almeida', 'William Oliveira', 'Xuxa Campos',
       'Ygor Ferreira', 'Zaira Silva'], dtype=object)

In [20]:
contagem_duplicatas = df.groupby('id').size()
contagem_duplicatas[contagem_duplicatas > 1]

Series([], dtype: int64)

In [23]:
df['Idade'].mean()

28.46153846153846

In [24]:
df['Idade'].median()

28.0

In [28]:
df[['Nome','Altura','Peso']].values

array([['Ana Silva', 1.65, 58],
       ['Bruno Costa', 1.75, 72],
       ['Carla Souza', 1.7, 60],
       ['Daniel Lima', 1.8, 80],
       ['Eva Martins', 1.6, 55],
       ['Filipe Reis', 1.78, 74],
       ['Giovana Melo', 1.67, 63],
       ['Hugo Almeida', 1.82, 85],
       ['Isabela Freitas', 1.62, 57],
       ['João Pedro', 1.76, 70],
       ['Karla Pires', 1.68, 62],
       ['Lucas Andrade', 1.79, 76],
       ['Mariana Rocha', 1.64, 59],
       ['Nando Oliveira', 1.77, 73],
       ['Olivia Santos', 1.63, 61],
       ['Pedro Almeida', 1.81, 78],
       ['Queila Ramos', 1.71, 64],
       ['Rafael Costa', 1.83, 82],
       ['Sabrina Lima', 1.66, 60],
       ['Thiago Silva', 1.74, 71],
       ['Úrsula Freitas', 1.69, 57],
       ['Vítor Pereira', 1.8, 77],
       ['Wendy Martins', 1.61, 56],
       ['Xavier Souza', 1.85, 88],
       ['Yasmin Carvalho', 1.72, 65],
       ['Zé Ferreira', 1.77, 70],
       ['Amanda Duarte', 1.64, 58],
       ['Bruno Martins', 1.75, 73],
       ['Clara Rocha', 1.7, 62],
       ['Diego Almeida', 1.82, 80],
       ['Eliane Costa', 1.67, 61],
       ['Fabio Silva', 1.78, 75],
       ['Gabriela Lima', 1.65, 59],
       ['Henrique Souza', 1.76, 72],
       ['Ingrid Costa', 1.68, 63],
       ['João Batista', 1.79, 79],
       ['Karine Silva', 1.62, 56],
       ['Luis Fernandes', 1.8, 76],
       ['Mariana Santos', 1.67, 60],
       ['Natália Freitas', 1.64, 58],
       ['Oscar Lima', 1.77, 74],
       ['Paula Martins', 1.69, 62],
       ['Quirino Alves', 1.81, 81],
       ['Rita Pires', 1.72, 63],
       ['Samuel Costa', 1.75, 69],
       ['Tatiane Lima', 1.68, 61],
       ['Ubiratan Silva', 1.82, 78],
       ['Vanessa Almeida', 1.63, 60],
       ['William Oliveira', 1.79, 77],
       ['Xuxa Campos', 1.6, 56],
       ['Ygor Ferreira', 1.76, 74],
       ['Zaira Silva', 1.65, 59]], dtype=object)